<div class="container">
  <uib-tabset active="0">
    <uib-tab index="0" heading="Nucleotide input">
      <form name="nucleotideForm" class="form" novalidate>
        <div class="form-group row offset-top">
          <div class="col-md-6">
            Search a genome sequence for secondary metabolite biosynthetic gene clusters
          </div>
          <div class="col-md-2">
            <button class="btn btn-default btn-block" ng-click="ctrl.loadSampleInput()">Load sample input</button>
          </div>
          <div class="col-md-2">
            <button class="btn btn-default btn-block" ng-click="ctrl.openSampleOutput()">Open example output</button>
          </div>
        </div>
        <fieldset>
          <legend>Notification settings</legend>
          <div class="form-group row">
            <div class="col-md-4" ng-class="{'has-error': nucleotideForm.$error.email}">
              <input class="form-control" type="email" placeholder="your@email.com" ng-model="ctrl.email" id="email" ng-class="{'form-error-bg': nucleotideForm.$error.email}">
              <p class="help-block" ng-show="nucleotideForm.$error.email">
                <i class="fa fa-close"></i> Invalid email address.
              </p>
            </div>
            <label class="col-md-2" for="email">Email address (optional)</label>
          </div>
        </fieldset>
        <fieldset>
          <legend>antiSMASH 6 beta features</legend>
          <div class="form-group row">
            <div class="col-md-4 col-md-offset-1">
              <label class="checkbox"><input type="checkbox" ng-model="ctrl.run_beta">Enable antiSMASH 6 beta</label>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Data input</legend>
          <div class="form-group row">
            <div class="col-md-3">
              <toggle-switch ng-model="ctrl.upload_file" on-label="Upload file" off-label="Get from NCBI" knob-label="{{ctrl.upload_file ? 'Get from NCBI' : 'Upload file'}}"
                class="switch-default">
              </toggle-switch>
            </div>
            <div class="col-md-8" ng-show="ctrl.upload_file">
              <div class="col-md-6">
                <div class="input-group">
                  <input class="form-control" type="text" ng-model="ctrl.file.name" readonly>
                  <span class="input-group-btn">
                  <span class="btn btn-default btn-file"> Browse
                    <input ng-model="ctrl.file" ngf-select type="file" id="seq"
                           ngf-accept="ctrl.valid_endings" ngf-pattern="ctrl.valid_endings"> </span>
                  </span>
                </div>
              </div>
              <label for="seq" class="col-md-6">Sequence file (GenBank / EMBL / FASTA format)</label>
            </div>
            <div class="col-md-8" ng-hide="ctrl.upload_file">
              <div class="col-md-6" ng-class="{'has-error': nucleotideForm.$error.pattern}">
                <input class="form-control" type="text" placeholder="NCBI acc #" ng-model="ctrl.ncbi" id="ncbi" ng-pattern="/^[A-Za-z0-9_]{1,16}(?:\.[0-9])?$/"
                  ng-class="{'form-error-bg': nucleotideForm.$error.pattern}">
                <p class="help-block" ng-show="nucleotideForm.$error.pattern">
                  <i class="fa fa-close"></i> Invalid NCBI ID.
                </p>
              </div>
              <label for="ncbi" class="col-md-6">NCBI accession number of desired sequence</label>
            </div>
          </div>
          <div class="form-group row" ng-show="ctrl.showGffInput()">
            <div class="col-md-7">
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><i class="fa fa-trash" ng-click="ctrl.clearGff()"></i></button>
                </span>
                <input class="form-control" type="text" ng-model="ctrl.gff_file.name" readonly>
                <span class="input-group-btn">
                  <span class="btn btn-default btn-file"> Browse
                    <input ng-model="ctrl.gff_file" ngf-select type="file" id="gff"
                           ngf-accept="ctrl.valid_gff_endings" ngf-pattern="ctrl.valid_gff_endings"> </span>
                </span>
              </div>
            </div>
            <label for="gff" class="col-md-5">Feature annotations (optional, GFF3 format)</label>
          </div>
          <div class="form-group row" ng-show="ctrl.run_beta">
            <div class="col-md-3 col-md-offset-1">
              <label class="checkbox"><input type="checkbox" ng-model="ctrl.upload_sideload_file">Upload extra annotations</label>
            </div>
          </div>
          <div class="form-group row" ng-show="ctrl.run_beta && ctrl.upload_sideload_file">
            <div class="col-md-3">
              <a href="https://docs.antismash.secondarymetabolites.org/sideloading/" target="_blank">What is this?</a>
            </div>
            <div class="col-md-8">
              <div class="col-md-6">
                <div class="input-group">
                  <input class="form-control" type="text" ng-model="ctrl.sideload_file.name" readonly>
                  <span class="input-group-btn">
                  <span class="btn btn-default btn-file"> Browse
                    <input ng-model="ctrl.sideload_file" ngf-select type="file" id="sideload-file"
                           ngf-accept="'.json'" ngf-pattern="'.json'"> </span>
                  </span>
                </div>
              </div>
              <label for="sideload-file" class="col-md-6">antiSMASH annotations sideload file (JSON).</label>
            </div>
          </div>

        </fieldset>

        <fieldset>
          <legend>Detection strictness:
            {{ ctrl.strictness_levels[ctrl.hmmdetection_strictness].id }}
            <span class="strictness-warning">{{ ctrl.strictness_levels[ctrl.hmmdetection_strictness].warning }}</span>
          </legend>
          <div class="form-group row">
            <div class="col-md-3" id="strictness-container">
              <div id="strictness-labels">
                <div ng-repeat="l in ctrl.strictness_levels">{{l.id}}</div>
              </div>
              <div id="strictness-slider">
                <input type="range" min="0" max="2" ng-model="ctrl.hmmdetection_strictness">
              </div>
            </div>
            <div class="col-md-9">
              <ul>
                <li ng-repeat="d in ctrl.strictness_descriptions()">{{ d }}</li>
              </ul>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <legend>Extra features
            <button class="btn btn-link" ng-click="ctrl.allOff()">All off</button>
            <button class="btn btn-link" ng-click="ctrl.allOn()">All on</button>
          </legend>
          <div class="form-group row">
            <div class="col-md-4" ng-repeat="c in ctrl.extra_features | filter: ctrl.filterFeatureByStatus">
              <label class="checkbox"><input type="checkbox" ng-model="ctrl.submission[c.id]">{{c.description}}</label>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group row offset-top" ng-show="ctrl.error_message">
            <p class="error-message bg-danger">{{ ctrl.error_message }}</p>
          </div>
          <div class="form-group well row">
            <div class="col-md-4 col-md-offset-4 ">
              <button class="btn btn-primary btn-block" type="submit" ng-click="ctrl.submit(form)" ng-disabled="!ctrl.validJob() || !nucleotideForm.$valid || ctrl.active_submission">Submit</button>
            </div>
          </div>
          <div class="form-group row">
            <p>
              Please be considerate in your use of antiSMASH. Help us keep antiSMASH available for
              everybody by limiting yourself to 5 concurrent jobs. Need to run more? See the
              <a href="http://docs.antismash.secondarymetabolites.org/install/">antiSMASH install guide</a>
              for instructions for getting your own antiSMASH installation.
            </p>
          </div>
        </fieldset>
      </form>
    </uib-tab>
    <uib-tab index="2" heading="Results for existing job">
      <form name="existingJobForm" class="form" novalidate>
        <div class="form-group offset-top">
          <div class="row">
            <label for="asID">antiSMASH job id for existing job</label>
          </div>
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control" ng-model="ctrl.job_id" id="asID" name="asID" placeholder="taxon-aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee"
                required ng-pattern="/^((bacteria-|fungi-|plants-|)[0-F]{8}-[0-F]{4}-[0-F]{4}-[0-F]{4}-[0-F]{12}|example)$/i">
              <i class="form-control-feedback fa fa-close" ng-show="existingJobForm.$error.pattern"></i>
            </div>
            <div class="col-md-4">
              <button class="btn btn-primary btn-block" ng-click="ctrl.loadJob()" ng-disabled="existingJobForm.$invalid">Load</button>
            </div>
          </div>
        </div>
      </form>
    </uib-tab>
    </uib>

</div>
